body{
	/*background-image: url(o_nas.jpg);
	background-size: contain;
	background-repeat: no-repeat;*/
	background-color: #cccccc;
	background-size: cover;
	margin: 5%;
	border: dotted;
}

.frame{
	position: absolute;
	/*display: inline-block;*/
	width: 24%;
	height:50%;
	background-color: #e6ffe6;
	margin: 4%; 
	/*margin-left: 2%;*/
	opacity: 0.3;
	border: solid;
}

#header{
	height: 6%;
}

#menu{
	text-align: center;
	font-size: 150%;
	color: green;
}

#footer{
	position: absolute;
	top: 85%;
	height: 8%;
	width: 90%;
	
}

#t_driver{
	/*top: 8%;*/
	/*margin-left: 5%;*/
	left: 2%;
	background-image: url(t_driver.png);
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
}

#truck{

	left: 34%;
	background-image: url(truck.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
}

#company{
	left: 66%;
	background-image: url(factory.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}

#about_bg{
	font-size: 150%;
	margin: 4%;
}

/*
old selection
*/
#main{
	color: black;
	width:960px;
	margin:50px auto;
	font-family:raleway;
}


span{
	color:red;
}

/*h2{
	background-color: #FEFFED;
	text-align:center;
	border-radius: 10px 10px 0 0;
	margin: -10px -40px;
	padding: 30px;
}*/

#login_title{
	border: solid;
	width: 100%;
	text-align: center;
	font-size: 4%;
	color: black;
}

#login{

	width:300px;
	float: left;
	border-radius: 10px;
	font-family:raleway;
	border: 2px solid #ccc;
	padding: 10px 40px 25px;
	margin-top: 70px;
}

input[type=text],input[type=password], input[type=email]{
	width:99.5%;
	padding: 10px;
	margin-top: 8px;
	border: 1px solid #ccc;
	padding-left: 5px;
	font-size: 16px;
	font-family:raleway;
}

input[type=submit]{
	width: 100%;
	background-color:#FFBC00;
	color: white;
	border: 2px solid #FFCB00;
	padding: 10px;
	font-size:20px;
	cursor:pointer;
	border-radius: 5px;
	margin-bottom: 15px;
}

#profile{
	padding:50px;
	border:1px dashed grey;
	font-size:20px;
	background-color:#DCE6F7;
}

#logout{
	float:right;
	padding:5px;
	border:dashed 1px gray;
	margin-top: -168px;
}

a{
	text-decoration:none;
	margin: 1%;
	padding: 1%;
	border: solid;
	border-radius: 10px;
	color: black;
	background-color: white;
}

a:hover {
  background-color: #0000ff;
}

i{
	color: cornflowerblue;
}

.error_msg{
	color:red;
	font-size: 16px;
}

.message{
	border: solid;
	border-color: red;
	border-radius: 10px;
	font-weight: bold;
	font-size:200%;
	text-align: center;
}
